@font-face {
    font-family: 'open_sanslight';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff2') format('woff2'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: 'open_sansregular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header{
    font-family: 'open_sansregular', arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #01012B;
    flex-wrap: wrap;
}

.petit_logo{
   max-width: 100px;
   height: auto;
   display : flex;
   align-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 5px;
   flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 14px;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: white;
    border-bottom: 3px solid white;
}

section
{
   font-family: 'open_sansregular', arial, sans-serif;
    color: black;
    margin-left: 15px;
}

h1 
{
    font-size: 30px;
    font-weight: bold;
}

h2
{
    font-family: 'open_sansregular', arial, sans-serif;
    font-size: 1.2em;
    color:#da1854;
}

h3
{
    font-size: 1.0em;
}

h4
{
    font-family: 'open_sansregular', arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color:#da1854;
}

p
{
    font-family: 'open_sansregular', arial, sans-serif;
    font-size: 14px;
    text-align: justify;
}

ul
{
    font-size: 0.8em;
}


#conteneur{
    display: flex;
}

#problematique{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cta{
    font-family: 'open_sanslight', arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px #DA1854 solid;
    border-radius: 10px;
    background-color: #DA1854;
    width: 40%;
    height: auto;
    text-align: center;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    text-decoration: none;
    flex-wrap: wrap;
}

.planet{
    max-width: 30%;
    height: auto;    
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
}

#corps{
    background-color: #01012B;
    color : white;
    padding: 10px 10px 10px 10px;
}

#blocs_etapes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.element1{
    border: 3px white solid;
    background-color: white;
    padding: 10px 10px 10px 10px;
    max-width: 250px;
    margin: 10px 10px 10px 10px;
}

.element2{
     border: 3px white solid;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    max-width: 250px;
    margin: 10px 10px 10px 10px;
}

.element3{
     border: 3px white solid;
    background-color: white;
    padding: 10px 10px 10px 10px;
    max-width: 250px;
    margin: 10px 10px 10px 10px;
}

.element4{
     border: 3px white solid;
    background-color: white;
    padding: 10px 10px 10px 10px;
    max-width: 250px;
    margin: 10px 10px 10px 10px;
}